.ticket-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.search-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    min-width: 160px;
    font-size: 25px;
    font-weight: bold;
}
.search-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 245, 239);
    height: inherit;
}
html {
    scroll-behavior: smooth;
}

.navigationbar {
    width: 100%;
    height: 100px;
    background-color: rgb(207, 223, 215);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px dashed rgb(41, 63, 62);
    padding: 20px 0;
    overflow: hidden;
    opacity: 90%;
}
.navigationbar img {
    width: 10%;
    height: 70px;
    cursor: pointer;
    border: none;
    float: left;
    margin-top: 5px;
}
.navigationbar button {
    float: right;
    border: none;
    background: none;
    color: rgb(43, 66, 68);
    font-size: 25px;
    cursor: pointer;
    padding: 15px 10px;
    margin-top: 10px;
}
.navigationbar button:hover {
    text-decoration: underline;color: #ff8000;
}

.banner-section {
    width: 100%;
    height: 350px;
    background-color: rgb(160, 175, 168);
}
.banner-section img {
    width: 100%;
    height: 350px;
}

.welcome-section {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgb(160, 175, 168);
    color: rgb(207, 223, 215);
    border-bottom: 1.5px dashed rgb(41, 63, 62);
    margin-bottom: 10px;
    font-size: 20px;
}
.welcome-section h1 {
    font-size: 50px;
    color: rgb(41, 63, 62);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}

.search-form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 65%;
    height: 470px;
    margin: 45px auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(207, 223, 215);
    align-content: center;
    text-align: center;
    border-radius: 30px;
    
    box-shadow: 10px 10px 40px 0 rgb(41, 63, 62), 0 6px 20px 0 rgb(41, 63, 62);
    color: rgb(41, 63, 62);
    opacity: 0.95;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(0, 0, 0);
}

.search-form select {
    background-color: rgb(207, 223, 215);
    border: 1px solid rgb(41, 63, 62);
    color: rgb(41, 63, 62);
    box-shadow: 0 2px 4px rgb(41, 63, 62);   
    padding: 8px;
    border-radius: 6px; 
    appearance: none;  
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 20px;

}

.search-form select:hover {
    background-color: rgb(207, 223, 215);
    border-color: rgb(41, 63, 62);
}
.search-form input[type="date"] {
    border: 1px solid rgb(41, 63, 62);
     background-color: rgb(207, 223, 215);
    border-radius: 6px;
    padding: 8px;
    font-size: 30px;
    width: 230px;
    height: 50px;
    text-align: center;
}

.search-form input[type="submit"] {
    background-color: rgb(41, 63, 62);
    border-color: rgb(207, 223, 215);
    color: rgb(207, 223, 215);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}
.search-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    min-width: 160px;
    font-size: 40px;
    font-weight: bold;
}
#search-btn1:hover {
    background-color: #ff8000;
    color: rgb(43, 66, 68);
    border-color: rgb(43, 66, 68);
}

#about-us {
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 6px;
    color: rgb(41, 63, 62);
    text-align: center;
    margin: 30px auto;
}

@media (max-width: 800px) {
    .search-form,  #about-us {
        max-width: 480px;
        border-radius: 12px;
        padding: 10px;
    }
    .banner-section img {
        height: 120px;
    }
    .welcome-section {
        height: auto;
        padding: 10px 0;
    }
}

@media (max-width: 500px) {
    .search-form, .about-us, #about-us {
        max-width: 320px;
        border-radius: 8px;
        padding: 5px;
    }
    .banner-section img {
        height: 80px;
    }
    .welcome-section h1 {
        font-size: 22px;
    }
}
.support-link {
    color: rgb(41, 63, 62);
    text-decoration: none;
    font-weight: bold;
}

.support-link:hover {
    text-decoration: underline;
    color: #ff8000;
}

.error-messages {
    color: #ff8000;
    padding: 0;
    margin: 10px 0;
    font-size: 30px;
    background-color: rgb(160, 175, 168);
    border: 1px solid rgb(160, 175, 168);
    border-radius: 5px;
}
.error-messages li {
            margin: 5px 0;
    }
        .success-message {
            background-color: #d4edda;
            color: #155724;
            padding: 15px;
            margin: 20px 0;
            border: 1px solid #c3e6cb;
            border-radius: 5px;
        }